<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <uicore>
            <general>
                <enable>1</enable>
            </general>
            <style_guide>
                <enable>1</enable>
                <url>ui</url>
            </style_guide>
        </uicore>
    </default>
</config>