<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="RocketWeb_UiCore" setup_version="1.0.5">
        <sequence>
            <module name="Magento_Cms"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogWidget"/>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>